<a href="https://colab.research.google.com/github/SIT-COMP-1210/module2-breakout-RibkaBegashaw/blob/main/Copy_of_module2_breakout.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
!git clone https://github.com/SIT-COMP-1210/Module2-Breakout-{RibkaBegashaw}.git

Cloning into 'Module2-Breakout-yturura'...
remote: Enumerating objects: 12, done.
remote: Counting objects: 100% (12/12), done.
remote: Compressing objects: 100% (10/10), done.
remote: Total 12 (delta 1), reused 3 (delta 0), pack-reused 0 (from 0)
Receiving objects: 100% (12/12), 5.10 KiB | 2.55 MiB/s, done.
Resolving deltas: 100% (1/1), done.



**Data Types and Arithmetic Operators Exercise**

1. What is the type of 2?

In [ ]:
'''
your code here
'''
type(2)

int

2. What is the type of 2.0?

In [ ]:
'''
your code here
'''
type(2.0)

float

3. What is the resulting type of adding 2 and 2?

In [ ]:
'''
your code here
'''
type(2+2)
print(2+2)

4

4. What is the type of ‘Programming’ ?

In [ ]:
'''
your code here
'''
type('Programming')

str

5. What is the resulting output when you add ‘Programming’ and ‘Computer’?

In [ ]:
'''
your code here
'''
print('Programming' + 'Computer')

ProgrammingComputer

6. What is the result of ‘Ethiopia’ * 3 ?

In [ ]:
'''
your code here
'''
print('Ethiopia'*3)
type("Ethiopia" *3)

EthiopiaEthiopiaEthiopia

str

7. What is the result of 10.0 * 7?

In [ ]:
'''
your code here
'''
type(10.0*7)
print(10.0*7)

70.0

8. What is stored in result?

In [ ]:
result =(str(int(2.8)))
print(result)
type(result)

2

str



9. What is the final value and type of x?

In [ ]:
x = int(float(-5))
print(x)
type(x)
int(2.8)

-5

2

10. What is stored in expr? What is the order of operations?

In [ ]:
expr = "a" + "b" * 2 + "c"
print(expr)
type(expr)

abbc

str

11. What is the final value of value?

In [ ]:
value = 100 / 5 // 4 * 3 % 5
print(value)
type(value)

0.0

float

12. hat is the value of b? Why does this happen?

In [ ]:
b = bool(0)
print(b)
type(b)

False

bool

13. Why are the results numerically the same but types different?

In [ ]:
a = 4 * 3
b = 4 * 3.0
print(a)
type(a)
print(b)
type(b)

12
12.0

float

14. Does calling int() on an int or float() on a float change the value? Why or why not?

In [ ]:
x = int(5)
type(x)
print(x)
y = float(5.0)
print(y)
type(y)

5
5.0

float

15. What is the value and type of x?

In [ ]:
x = 2 ** 3
print(x)
type(x)

8

int

16. What is the value of y?

In [ ]:
y = 4 * 2 ** 2
print(y)

16

17. What is the value of a?

In [ ]:
a = 5 - 1 + 4 * 2
print(a)

12

18. What is the value of b?

In [ ]:
b = (5 - 1 + 4) * 2
print(b)

16

19. What are the values of b1 and b2? Are they the same? If not, why are they different?

In [ ]:
b1 = bool("")
print(b1)
b2 = bool("False")
print(b2)

False
True

20. Is (2 + 3) * 4 an expression or a function?

In [ ]:
# your answer here an expression

21. What is the final value of result?

In [ ]:
result = str(int(5.9) + 2 ** 2) * 2
print(result)
type(result)

99

str